* {}

body {
  background-color: lightpink;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 50px auto;
  border: 1px solid rgb(20, 18, 18);
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  border: 1px solid rgb(20, 18, 18);

}

.smiley-btn {
  margin-top: 40px;
}

span {
  font-size: 25px;
  /* padding: 50px; */
}

.marked-cell {
  background-color: rgb(246, 111, 134);
}

.game-over {
  display: none;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: auto;
  /* margin-left: 275px; */
  /* margin-bottom: 200px; */
}

.button-levels button {
  background-color: lightblue;
  padding: 10px;
  margin: 5px;
  border: solid white;
  border-radius: 25px;
  cursor: pointer;
}

.custom-pop {
  /* background-color: blue; */
  border: 3px solid white;
  width: 200px;
  height: 200px;
  margin-left: 900px;
}

input {
  width: 50px;
}